.phone {
  > .password{
    padding-top: 10%;
    > .href{
      text-align: right;
      padding-right: 10%;
      > a{
        font-size:12px;
        position: relative;
        top:-22px;
      }
    }
    > .pay{
      text-align: center;
      font-size: 13px;
      line-height: 50px;
      > a{
        font-size:12px;
      }
    }
    > .amount{
      font-size:22px;
      text-align: center;
      color: #db1316;
      line-height: 40px;
      padding-bottom: 65px;
      font-weight: 600;
    }
  }
  > .top-title {
    position: relative;
    height: 40px;
    text-align: center;
    background-color: #000;
    color: #e0bf63;
    line-height: 40px;
    > .back-off {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 40px;
      color: #e0bf63;
    }
  }
  .data{
    .newstxt{
      font-size: 16px;
      color: #666;
      margin: auto;
      padding: 2rem 15px;
      background: #fff;
      text-indent: 2em;
    }
    .inputdata{
      border-bottom: 1px solid #f0f0f0; 
    }
    .savebtn{
      background: #4b0;
      color: #fff;
      width: calc(100% - 20px);
      height: 45px;
      line-height: 45px;
      margin: 50px 10px 0;
      text-align: center;
      border-radius: 5px;
    }
  }

}