.whiteSpace {
    height: 15px;
  }

.top-title {
  position: relative;
  height: 40px;
  text-align: center;
  background-color: #332c2b;
  color: #e0bf63;
  line-height: 40px;
  >.back-off {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 40px;
    color: #e0bf63;
  }
  .right-btn {
    position: absolute;
    top: 0;
    right: 10px;
    color: #eee;
    font-size: 14px;
    width: 60px;
  }
}

.balance {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eee;
}

.content {
    padding: 0 20px;
    padding-top: 40px;
    text-align: center;
    img {
        width: 140px;
        height: 140px;
    }
    .title {
        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;
    }
    .money {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 600;
    }
    .info,
    .question {
        color: #33a7f4;
    }
    .info {
        margin-top: 25px;
    }

    .question {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}