.index-bottom-nav {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #000000;
    >.tabbarbgcss{
      background: #000000;
      color:#d9ba4f;
      bottom:-1px;
      >.tabbartxtbgcss{
        color:#d9ba4f;
      }
      >.van-tabbar-item--active {
          color: #fff;
      }
    }
  }